flask
numpy
pillow
werkzeug
gunicorn
torch @ https://download.pytorch.org/whl/cpu/torch-2.9.0%2Bcpu-cp313-cp313-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.24.0%2Bcpu-cp313-cp313-linux_x86_64.whl
